<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sq.questsimple">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        `
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StatsActivity"
            android:label="@string/title_activity_stats"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AchievementActivity"
            android:label="@string/title_activity_achievement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CraftActivity"
            android:label="@string/title_activity_craft"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BossActivity"
            android:label="@string/title_activity_boss"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>